<div class="ui fixed transparent inverted main menu square" id="main-topbar">
  <div class="container">
    <%= link_to '首页', root_path, class: 'item' %>
    <%= link_to '相册', albums_path, class: 'item' %>
    <a id="for_taskbar" class="item" href="javascript:void(0);">任务</a>

    <div class="menu right">
      <a href="javascript:void(0);" id="for_login2" class="item" style="border-radius: 100px;">
        <img src="/images/cat.png" alt="" class="login c i" />
      </a>
    </div>
  </div>
</div>