<div class="user container">
    <div class="user center">
      <div class="ui secondary pointing menu">
        <div class="header item active"><i class="user icon"></i><%= current_user.username %></div>

        <a class="item">
          <i class="info icon"></i> 用户信息
        </a>

        <div class="right menu">
          <%= link_to 'Logout', logout_path, method: :delete, class: 'ui item' %>
        </div>
      </div>

      <div class="content">
        <div class="userinfo">
          <div class="dialog">
            <%= render 'user_info' %>
          </div>
        </div>
        <div class="usertasks">

        </div>
      </div>
    </div>
</div>