<div id="album-js"></div>

<div class="tile middle square ui grid albums">
  <div class="three wide column pane">
    <div class="square pie black list">
      <ul id="shopmenu">
        <li><span class="active">相册列表</span></li>
        <li><%= link_to '新建相册', new_album_path %></li>
        <li><%= link_to '相册搜索', root_path %></li>
      </ul>
    </div>
  </div>

  <div class="thirteen wide column pane">
    <div class="square pie ui grid stackable five column">
      <% @albums.each do |album| %>
          <div class="column">
            <div class="square center cover">
              <%= link_to image_tag(album.cover.url), album_path(album) %>
            </div>
            <p class="square sku center"><%= link_to album.sku, album_path(album), class: 'square text grey bold' %></p>
          </div>
      <% end %>
    </div>
  </div>
</div>