<div id="album-js"></div>

<div class="tile middle square ui grid albums">
    <div class="three wide column pane">
        <div class="square pie black list">
          <ul id="shopmenu">
            <li><%= link_to '相册列表', albums_path %></li>
            <li><span class="active">新建相册</span></li>
            <li><%= link_to '相册搜索', root_path %></li>
          </ul>
        </div>
    </div>

    <div class="thirteen wide column pane">
        <div class="square pie">
          <%= form_for @album, multipart: true do |f| %>
            <%= render 'form', f: f %>
          <% end %>
        </div>
    </div>
</div>