<div class="tile middle segment square search clearfix">
  <%= form_tag search_path, method: :get do %>

      <%= text_field_tag :kw, params[:kw], placeholder: '请输入要搜索的内容', class: 'square input search' %>

      <div class="ui selection dropdown square search">
        <%= hidden_field_tag :type, 'sku' %>
        <div class="default text" data-value="male">SKU</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="sku">SKU</div>
        </div>
      </div>

      <%= submit_tag '搜索', class: 'square search button' %>
  <% end %>
</div>