/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ./lib/nprogress
 *= require ./lib/perfect-scrollbar-0.4.5.min
 *= require_tree .
 */

@import "semantic-ui";

#nprogress {
  position: relative;
  z-index: 9999;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: image-url('mainbg.jpg');
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.dialog {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.tile {
  $large: 80px;
  $middle: 40px;
  &.large {
    padding-top: $large;
    padding-bottom: $large;
  }
  &.middle {
    padding-top: $middle;
    padding-bottom: $middle;
  }
}

.square.ui {
  &.sidebar {
    overflow: hidden;
  }
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

.square.txt {
  font-size: 12px;
  &.grey {
    color: #999;
  }
  &.blod {
    font-weight: bolder;
  }
}

.square.center {
  text-align: center !important;
}