.square.button {
  background: #000;
  color: #fff;
  font-weight: bolder;
  padding: 6px 25px;
  -moz-box-shadow: 0px 0px 3px #666;
  -webkit-box-shadow: 0px 0px 3px #666;
  box-shadow: 0px 0px 3px #666;
  cursor: pointer;
  &.small {
    padding: 5px 12px;
    font-size: 0.9em;
  }
  &.w {
    background: #fff;
    color: #000;
  }
}

.square.search {
  $margin_left: 20px;
  & input {
    float: left;
    padding: 0 0 0 10px;
    border: 0px;
    width: 640px;
    height: 40px;
    font-size: 16px;
    font-weight: bolder;
    color: #999;
    line-height: 40px;
    outline: 0;
    background-color: white;
    -moz-box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
    box-shadow: 0px 0px 5px #999;
    _display: inline;
    margin-right: $margin_left;
  }
  &.ui.selection.dropdown {
    float: left;
    border-radius: 0 !important;
    margin-right: $margin_left;
    -webkit-box-shadow: 0px 0px 5px #999 !important;
    box-shadow: 0px 0px 5px #999 !important;
    _display: inline;
  }
  &.button {
    font-size: 22px;
    float: left;
    _display: inline;
  }
  &.list {
    width: 630px;
    float: left;
    .pie {
      margin-left: 0 !important;
    }
    .item {
      padding: 10px;
      color: #666;
      border-bottom: 1px solid #D7D7D7;
      text-align: center;
      cursor: pointer;
      &.selected {
        background-color: #eee;
      }
      &:hover {
        @extend .selected;
      }
    }
  }
  &.side-pies {
    float: left;
    width: 300px;
    .pie {
      width: 300px;
    }
  }
}