.square.row {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.task.album.row {
  .cover {
    float: left;
    text-align: center;
    height: 140px;
    width: 140px;
  }
}

.album.pictures-list {
  .pic-thumb {
    float: left;
    width: 20%;
  }
}