<!DOCTYPE html>
<html>
<head>
  <title>Square</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui top inverted sidebar menu active square">
  <div class="header item">Top Sidebar menu</div>
  <a class="item">One</a>
  <a class="item">Two</a>
  <a class="item">Three</a>
</div>

<div class="segment">
  <div class="container tile large">

  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
